*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'Dongle', sans-serif;
   background: url(../img/bgimg.jpg);
   background-size: cover;
   background-position: center;
   overflow: hidden;
}

h1 {
   text-align: center;
   font-size: 100px;
   color: rgb(139, 216, 22);
   height: 110px;
}

   @media screen and (min-width: 800px){
      h1 {
         font-size: 130px;
      }
   }

h2 {
   font-size: 40px;
   text-align: center;
}

span {
   font-size: 35px;
   text-align: center;
}

button {
   background: rgba(255, 0, 0, 0.816);
   width: 90px;
   height: 40px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-family: 'Dongle', sans-serif;
   font-size: 27px;
}

button:active {
   background: rgba(58, 209, 255, 0.855);
}

   @media screen and (min-width: 800px){
      button {
         font-size: 32px;
         color: black;
      }
   }

#game-console {
   width: 95%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

   @media screen and (min-width: 800px){
      #game-console {
         height: 90%;
         flex-direction: row;
         align-items: flex-start;
         border: none;
         margin-top: 4%;
      }
   }

.area {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-left: 10%;
}


/* GAME SCREEN STYLE */
#game-screen {
   width: 330px;
   height: 330px;
   border-radius: 20px;
   background-color: rgba(255, 255, 255, 0.821);
   margin-bottom: 4%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}

   @media screen and (min-width: 800px){
      #game-screen {
         width: 50%;
         max-width: 590px;
         height: 540px;
         padding: 10px;
         margin: 0 auto;
      }
   }

.number {
   width: 27px;
   height: 27px;
   border-radius: 15px;
   border: 1px solid black;
   margin: 2px;
   text-align: center;
   font-size: 21px;
}

   @media screen and (min-width: 800px){
      .number {
         width: 50px;
         height: 50px;
         border-radius: 25px;
         margin: 3px;
         font-size: 35px;
      }
   }

.drawn {
   background-color: red;
   transition-duration: 700ms;
}

.gameinfo {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

   @media screen and (min-width: 800px){
      .gameinfo {
         width: 50%;
      }
   }


      /* GAME CONTROLS STYLE */
#game-controls {
   width: 100%;
   display: flex;
   flex-direction: column;
}

#game-controls span {
   line-height: 70%;
   text-align: start;
}

#game-controls h2 {
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin-left: 10px;
   background-color: rgba(58, 209, 255, 0.855);
}

.extdiv {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 3%;
}

.btndiv {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-left: -10%;
}

   @media screen and (min-width: 800px){
      #game-controls {
         display: flex;
      }

      #game-controls span {
         font-size: 50px;
      }

      #game-controls h2 {
         width: 120px;
         height: 120px;
         border-radius: 60px;
         font-size: 100px;
      }
   }



/* GAME CONTROLS STYLE */
#act-num-cont {
   margin-bottom: 3%;
}

#act-num-cont h2 {
   width: 50px;
   height: 50px;
   border-radius: 25px;
   margin-left: 50px;
   background-color: rgba(58, 209, 255, 0.855);
}

   @media screen and (min-width: 800px){
      #act-num-cont {
         margin-bottom: 5%;
      }

      #act-num-cont span{
         font-size: 50px;
      }

      #act-num-cont h2 {
         width: 120px;
         height: 120px;
         font-size: 100px;
         border-radius: 60px;
      }
}

/* LAST NUMBERS STYLE */
#last-numbers {
   margin-bottom: 3%;
}

#last-numbers h2{
   height: 50px;
   width: 150px;
   border-radius: 35px;
   margin-left: 15px;
   background-color: rgba(58, 209, 255, 0.855);
}

   @media screen and (min-width: 800px){
      #last-numbers {
         margin-bottom: 5%;
      }

      #last-numbers span{
         text-align: start;
         font-size: 50px;
      }

      #last-numbers h2 {
         width: 370px;
         height: 120px;
         font-size: 100px;
         border-radius: 90px;
      }
   }